.body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    min-height: 100vh;
}


.container {
    display: flex;
    flex: 1;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16364C;
    color: white;
    padding: 10px;
}


.logo {
    margin-bottom: 20px;
   
}


.logo img {
    max-width: 100%;
}


.sidebar {
    background-color: #16364C;
    color: white;
    padding: 15px;
    flex: 1;
}


.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar li {
    margin-bottom: 50px;
}


.sidebar a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}


.icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.exit{
    margin-top:15em;
}


main {
   
    padding: 20px;
}
/* Estilos para a barra de pesquisa no topo */
.search-bar {
    margin-top: 35px;
    margin-left: 35px;


}
   


.search-bar input {
    padding: 15px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.search-bar button {
    background-color: #16364C;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}


.search-bar i {
    font-size: 15px;
}
.main-content {
    padding: 20px;
}


.categories-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.categories {
    margin-top: 20px;
   
    display: flex;
    justify-content: space-around;
}


.category-btn {
    padding: 10px 20px;
    border: 2px solid #16364C;
    color:#16364C;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
    transition: background-color 0.3s;
}


.category-btn:hover {
    background-color: #16364C;
    color:white;
}


.title{
    margin-top: 40px;
    margin-left: 35px;
    color:#143042;
    font-size: 18px;
    font-weight: bold;
   
}


.books-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 100px;
}


.book {
    text-align: center;
    margin-bottom: 30px; /* Aumentando a margem inferior entre os livros */
}


.book img {
    max-width: 80%; /* Reduzindo o tamanho da imagem para 80% da largura do contêiner pai */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
   
}


.book-info {
    margin-top: 10px; /* Aumentando a margem superior da informação do livro */
    color:#00090f;
    font-size: 15px;
}


.book-info h3 {
    margin: 0;
}


.book-info p {
    margin: 5px 0; /* Mantendo alguma margem superior e inferior para o nome do autor */
    color: #3d3d3d;
   
}
a{
    text-decoration: none;
}


.books-trend {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
}


.book-t {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo na direção transversal (horizontal) */
    margin-right: 10px;
}


.book-t img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container {
    flex: 1;
}


footer {
    background-color: #0d2a3d;
    color: white;
    padding: 20px 0;
    margin-top: auto; /* Faz o rodapé ficar no final da página */
}


.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.footer-section {
    flex: 1;
    max-width: 300px;
    margin-bottom: 20px;
    margin-left: 60px;
}


.footer-section h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}


.footer-section p {
    margin: 0;
}


.footer-section ul {
    list-style: none;
    padding: 0;
}


.footer-section ul li {
    margin-bottom: 5px;
}


.footer-section a {
    color: white;
    text-decoration: none;
}


.footer-bottom {
    text-align: center;
}
/* Adicione este CSS ao seu arquivo main.css ou onde você mantém seus estilos */


.footer-logo {
    max-width: 150px;
    height: auto;
    margin-bottom:0px;
}


/* Adicione este CSS ao seu arquivo main.css ou onde você mantém seus estilos */


.hr-foot {
    border: 1px solid #0F3249; /* Largura de 1px e cor vermelha */
    margin-top: 10px; /* Ajuste conforme necessário */
}


.bodylogin {
    margin: 5px;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #16364C;
    color: #fff;
}


.headerlogin {
    display: flex;
    align-items: left;
    justify-content: space-between;
    padding: 10px;
}
 
.login-container {
   
    max-width: 1200px;
    width: 45%;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
    background-color: #547b94;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}


.imagelogin {
    width: 50%;
    height: 50%;
    margin: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
}






.titulo{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    color:#fff;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
   
}


p {
    color: #f4f3f3;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    margin-top: 10px;
  }


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;    
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 15px;
    line-height: 2;
           
}


.loginbtn {
    padding: 20px;
    width: 20%;
    height: 15%;
    margin: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: medium;
    background-color: rgb(59, 187, 201);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    line-height: 2;
}


.register-link {
    margin-top: 10px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 15px;


}


.footerlogin {
    text-align: center;
    padding: 20px;
    background-color: #16364C;
    color: #fff;
}
